<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Recognition</title>
</head>

<body>
    <h1>Speech Recognition</h1>
    <button id="startButton">Start Recognition</button>
    <button id="stopButton">Stop Recognition</button>
    <h3>Text : <div id="result"></div>
    </h3>

    <script>
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        recognition.lang = 'en-US';
        var BTNstart = document.getElementById('startButton')
        var BTNstop = document.getElementById('stopButton')
        BTNstop.style.display = 'none';
        var result = ""

        recognition.onresult = function (event) {
            result = event.results[0][0].transcript;
            result = result.toLowerCase();
            document.getElementById('result').innerHTML = result;
            if (result.includes("home")) {
                document.location.href = "home.html";
            }
        };

        BTNstart.addEventListener('click', function () {
            recognition.start();
            BTNstop.style.display = 'block';
            BTNstart.style.display = 'none';
        });

        BTNstop.addEventListener('click', function () {
            recognition.stop();
            BTNstart.style.display = 'block';
            BTNstop.style.display = 'none';
        });
    </script>
</body>

</html>