h1{
    text-align: center;
    color: cyan;
    font-size: 40px;
}

h2{
    text-align: center;
    color: white;
    font-size: 30px;
  
}
.invContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
body{
    background-color: #161616;
    text-transform: capitalize;
}

.investment-list {
    /* background-color: grey; */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

ul {
    font-size: x-large;
    list-style-type:square;
    
}

li {
    border: 3px solid white;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 9px;
    color:white;
    background-color: #161616;
}

li:hover {
    background-color: grey;
}
