<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Artificial Intelligence </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aistyle.css') }}">
</head>

<body>
  <h1 style="color:white; text-align: center;"> AI </h1>
  <span style="color:skyblue; text-align: center;"> Click the Button to Talk with AI </span>
  <div id="startButton" class="imageWrapper">
    <img id="btn" src="{{ url_for('static', filename='images/aiBtn.png') }}" alt="AI">
  </div>
  <center>
    <p id="result" style="color:darkblue"></p>
    <p id="response" style="color:darkblue; text-align: right;"></p>
  </center>

  <script>
    var recognition = new webkitSpeechRecognition() || new SpeechRecognition();
    recognition.continuous = true;
    recognition.lang = 'en-US';
    var BTNstart = document.getElementById('startButton');
    var btn = document.getElementById('btn');
    var TXTresult = document.getElementById('result');
    var TXTresponse = document.getElementById('response');
    var result = "";
    var flag = 0;

    recognition.onresult = function (event) {
      recognition.stop();
      result = event.results[0][0].transcript;
      result = result.toLowerCase();
      TXTresult.innerHTML = result;
      btn.className = "fade-out";
      btn.src = "{{ url_for('static', filename='images/aiBtn.png') }}";
      interpret();
    };

    BTNstart.addEventListener('click', function () {
      if (flag == 0) {
        btn.className = "fade-in";
        btn.src = "{{ url_for('static', filename='images/ai.jpg') }}";
        TXTresult.innerHTML = "Listening...";
        TXTresponse.innerHTML = "";
        recognition.start();
        flag = 1;
      }

      else {
        btn.className = "fade-out";
        btn.src = "{{ url_for('static', filename='images/aiBtn.png') }}";
        TXTresult.innerHTML = "";
        recognition.stop();
        TXTresponse.innerHTML = "";
        flag = 0;
      }
    });

    function respond(msg) {
      const speechText = new SpeechSynthesisUtterance(msg);
      window.speechSynthesis.speak(speechText);
      TXTresponse.innerHTML = msg;
    }

    function getName(text) {
      const words = text.split(' ');
      const nameIndex = words.findIndex(word => {
        const lowerCaseWord = word.toLowerCase();
        return lowerCaseWord === 'name' || lowerCaseWord === 'named';
      });

      if (nameIndex !== -1 && nameIndex < words.length - 1) {
        return words[nameIndex + 1];
      } else {
        return "";
      }
    }

    function getBank(text) {
      const words = text.split(' ');
      const nameIndex = words.findIndex(word => word.toLowerCase() === 'bank');
      if (nameIndex !== -1 && nameIndex > 0) {
        return words[nameIndex - 1];
      } else {
        return "";
      }
    }

    function getGoal(text) {
      const words = text.split(' ');
      const nameIndex = words.findIndex(word => {
        const lowerCaseWord = word.toLowerCase();
        return lowerCaseWord === 'goal';
      });

      if (nameIndex !== -1 && nameIndex < words.length - 1) {
        return words[nameIndex + 1];
      } else {
        return "";
      }
    }

    function getAmount(text) {
      const regex = /\d+(\.\d+)?/;

      const match = text.match(regex);

      if (match) {
        return parseFloat(match[0]);
      } else {
        return 0;
      }
    }

    function getBudgetName(text) {
      const words = text.split(' ');

      const budgetIndex = words.findIndex(word => word.toLowerCase() === 'budget');

      if (budgetIndex !== -1) {
        if (budgetIndex < words.length - 1) {
          return words[budgetIndex + 1];
        } else if (budgetIndex > 0) {
          return words[budgetIndex - 1];
        }
      }
      return "";
    }

    function deleteBudget(result) {
      var name = getName(result);
      if (name == "") {
        name = getBudgetName(result);
      }
      const data = { name: name };
      const options = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      };

      fetch('deleteBudget', options)
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to delete budget.');
          } else {
            alert("Budget Deleted Successfully.");
            window.location.href = 'budgets';
            return response.json();
          }
        })
        .then(data => {
          console.log('Created deleted successfully:', data);
        })
        .catch(error => {
          console.error('Error:', error);
        });

      var msg = "Deleting Budget named " + name + " ...";
      respond(msg);
      found = true;
    }

    function createBudget(result) {
      var name = getName(result);
      if (name == "") {
        name = getBudgetName(result);
      }

      let amount = getAmount(result);
      console.log("name = " + name + " amount = " + amount);

      if (amount != 0) {
        const data = { name: name, amount: amount };
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        };

        fetch('createBudget', options)
          .then(response => {
            if (!response.ok) {
              throw new Error('Failed to create new budget');
            } else {
              alert("Budget created Successfully.");
              window.location.href = 'budgets';
              return response.json();
            }
          })
          .then(data => {
            console.log('Created budget successfully:', data);
          })
          .catch(error => {
            console.error('Error:', error);
          });

        var msg = "Creating Budget named " + name + " with Amount " + amount + " ...";
        respond(msg);
        found = true;
      }

      else {
        const data = { name: name };
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        };

        fetch('create', options)
          .then(response => {
            if (!response.ok) {
              throw new Error('Failed to create budget.');
            } else {
              alert("Budget created Successfully.");
              window.location.href = 'budgets';
              return response.json();
            }
          })
          .then(data => {
            console.log('Created budget successfully:', data);
          })
          .catch(error => {
            console.error('Error:', error);
          });

        var msg = "Creating Budget named " + name + " with Amount " + amount + " ...";
        respond(msg);
        found = true;
      }
    }

    function openBudget(result) {
      var name = getName(result);
      if (name == "") {
        name = getBudgetName(result);
      }
      if (name == "") {
        respond("Can't find the name of Budget. Could you clarify your command?");
      }
      else {
        const data = { name: name };
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        };

        fetch('open', options)
          .then(response => {
            if (response.ok) {
              var msg = "Opening " + name + " Budget.";
              respond(msg);
              window.location.href = 'budget?name=' + name;
            } else if (response.status === 404) {
              respond("Couldn't find Budget, Could you clarify your command with budget name clearly?");
            }
            else {
              respond("Failed to open Budget")
            }
          })
          .then(data => {
          })
          .catch(error => {
            console.error('Error:', error);
          });

        found = true;
      }
    }

    function addAmount() {
      var name = getName(result);
      if (name == "") {
        name = getBudgetName(result);
      }
      if (name == "") {
        respond("Can't find the name of Budget. Could you clarify your command?");
      }
      else {
        let amount = getAmount(result);
        if (amount != 0) {

          const data = { name: name, amount: amount };
          const options = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          };

          fetch('addAmount', options)
            .then(response => {
              if (response.ok) {
                alert("Amount added to Budget Successfully.");
                window.location.href = 'budgets';
              } else if (response.status === 404) {
                respond("Couldn't find Budget, Could you clarify your command with budget name clearly?");
              }
              else {
                respond("Failed to add amount.")
              }
            })
            .then(data => {
              console.log("Amount added to Budget Successfully.", data);
            })
            .catch(error => {
              console.error('Error:', error);
            });

          var msg = "Adding " + amount + " rs to the budget named " + name + "...";
          respond(msg);
        }
        else {
          respond("I Can't find the amount. Could you clarify your command?");
        }
      }
    }

    function deductAmount() {
      var name = getName(result);
      if (name == "") {
        name = getBudgetName(result);
      }
      if (name == "") {
        respond("Can't find the name of Budget. Could you clarify your command?");
      }
      else {
        let amount = getAmount(result);
        if (amount != 0) {

          const data = { name: name, amount: amount };
          const options = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          };

          fetch('deductAmount', options)
            .then(response => {
              if (response.ok) {
                alert("Amount deducted from Budget Successfully.");
                window.location.href = 'budgets';
                return response.json();
              } else if (response.status === 404) {
                respond("Couldn't find Budget, Could you clarify your command with budget name clearly?");
              }
              else {
                respond("Failed to deduct amount.")
              }
            })
            .then(data => {
              console.log("Amount deduected from Budget Successfully.", data);
            })
            .catch(error => {
              console.error('Error:', error);
            });

          var msg = "Deducted " + amount + " rs from the budget named " + name + "...";
          respond(msg);
        }
        else {
          respond("I Can't find the amount. Could you clarify your command?");
        }
      }
    }

    function setAmount() {
      var name = getName(result);
      if (name == "") {
        name = getBudgetName(result);
      }
      if (name == "") {
        respond("Can't find the name of Budget. Could you clarify your command?");
      }
      else {
        let amount = getAmount(result);
        if (amount != 0) {

          const data = { name: name, amount: amount };
          const options = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          };

          fetch('setAmount', options)
            .then(response => {
              if (response.ok) {
                alert("Amount updated Successfully.");
                window.location.href = 'budgets';
              } else if (response.status === 404) {
                respond("Couldn't find Budget, Could you clarify your command with budget name clearly?");
              }
              else {
                respond("Failed to update amount.")
              }
            })
            .then(data => {
              console.log("Amount updated Successfully.", data);
            })
            .catch(error => {
              console.error('Error:', error);
            });

          var msg = "Updating " + amount + " rs to the budget named " + name + "...";
          respond(msg);
        }
        else {
          respond("I Can't find the amount. Could you clarify your command?");
        }
      }
    }

    function unlink(result) {
      var bank = getBank(result);
      respond("unlinking Your Bank Account...");
      setTimeout(function () {
        window.location.href = 'unlink?name=' + bank;
      }, 2000);
    }

    function getBalance(result) {
      var name = getName(result);
      if (name == "") {
        name = getBudgetName(result);
      }
      if (name == "") {
        respond("Can't find the name of Budget. Could you clarify your command?");
      }
      else {
        const options = {
          method: 'GET'
        };

        fetch('getAmount?name=' + name, options)
          .then(response => {
            if (!response.ok) {
              throw new Error('Failed to get balance.');
            } else {
              return response.json();
            }
          })
          .then(data => {
            console.log(data);
            var amount = data.amount;
            respond("Balance of Budget " + name + " is " + amount);
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }
    }

    function createGoal(result) {
      var name = getName(result);
      if (name == "") {
        name = getBudgetName(result);
      }

      let amount = getAmount(result);
      console.log("name = " + name + " amount = " + amount);

      if (amount != 0) {
        const data = { name: name, amount: amount };
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        };

        fetch('createGoal', options)
          .then(response => {
            if (!response.ok) {
              throw new Error('Failed to create new goal');
            } else {
              alert("Goal created Successfully.");
              window.location.href = 'goals';
            }
          })
          .then(data => {

          })
          .catch(error => {
            console.error('Error:', error);
          });

        var msg = "Creating goal named " + name + " with Amount " + amount + " ...";
        respond(msg);
        found = true;
      }
      else {
        respond("Amount not found, specify command properly.")
      }
    }

    function deleteGoal(result) {
      var name = getName(result);
      if (name == "") {
        name = getBudgetName(result);
      }
      const data = { name: name };
      const options = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      };

      fetch('deleteGoal', options)
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to delete goal.');
          } else {
            alert("Budget Goal Successfully.");
            window.location.href = 'goals';
            return response.json();
          }
        })
        .then(data => {
        })
        .catch(error => {
          console.error('Error:', error);
        });

      var msg = "Deleting Goal named " + name + " ...";
      respond(msg);
      found = true;
    }

    function addGoal() {
      var name = getGoal(result);
      if (name == "") {
        respond("Can't find the name of Goal. Could you clarify your command?");
      }
      else {
        let amount = getAmount(result);
        if (amount != 0) {

          const data = { name: name, amount: amount };
          const options = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          };

          fetch('addGoal', options)
            .then(response => {
              if (response.ok) {
                alert("Amount added to Goal Successfully.");
                window.location.href = 'goals';
              } else if (response.status === 404) {
                respond("Couldn't find goal, Could you clarify your command with budget name clearly?");
              }
              else {
                respond("Failed to add amount.")
              }
            })
            .then(data => {
              console.log("Amount added to goal Successfully.", data);
            })
            .catch(error => {
              console.error('Error:', error);
            });

          var msg = "Adding " + amount + " rs to the goal named " + name + "...";
          respond(msg);
        }
        else {
          respond("I Can't find the amount. Could you clarify your command?");
        }
      }
    }

    function checkBalance() {
      // URL of the endpoint to fetch account balance
      const url = '/checkBalance';

      const options = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      };

      fetch(url, options)
        .then(response => {
          if (response.ok) {

          } else {
            console.log('Failed to fetch account balance');
          }
        })
        .then(data => {
          if (data.length > 0) {
            var bal = "";
            data.forEach(account => {
              bal += "Account: ${account.name} and Balance: ${account.balance}";
            });
            respond(bal);
          }
          else{
            respond("You haven't linked any bank account.");
          }
          bal = "";
        })
        .catch(error => {
          console.error('Error:', error.message);
          respond('Failed to fetch account balance. Please try again later.');
        });
    }

    let currentIndex = 0;

    function tips() {

      var advices = [
        "Diversify Your Investment Portfolio. Diversification is key to managing risk.",
        "Invest in a mix of different assets to reduce risk and potentially increase returns.",
        "Invest for the Long Term which guives you benefit from the power of compounding returns.",
        "Assess your risk tolerance before investing and choose investments that align with your comfort level.",
        "Stay updated on market trends, economic indicators, and news that gives opportunities to invest.",
        "Start Investing Early, it will give advantage of Compounding Interest.",
        "Always take calculated risks.",
        "Safer Investments are always better than Riskier ones."
      ];

      if (currentIndex === advices.length) {
        currentIndex = 0;
      }

      const selectedString = advices[currentIndex];
      currentIndex++;

      return selectedString;
    };

    function interpret() {
      var words = ["home", "features", "about us", "contact us", "reviews", "login", "profile", "register", "dashboard", "budgets", "goals", "investments"];
      var found = false;

      for (word in words) {
        if (!found) {
          if (result.includes(words[word])) { // 12
            var page = words[word];
            const speechText = new SpeechSynthesisUtterance("Okay, taking you to " + page + " page.");
            const femaleVoices = speechSynthesis.getVoices().filter(voice => voice.gender === "female");
            speechText.voice = femaleVoices[0];
            TXTresponse.innerHTML = "Okay, taking you to " + page + " page.";
            window.speechSynthesis.speak(speechText);
            setTimeout(function () {
              document.location.href = page;
            }, 2000);
            found = true;
          }

          else if (result.includes("back")) {
            const speechText = new SpeechSynthesisUtterance("Okay, taking you to " + page + " page.");
            window.speechSynthesis.speak(speechText);
            TXTresponse.innerHTML = "Okay, taking you to Previous page.";
            setTimeout(function () {
              window.history.go(-1);
            }, 200);
            found = true;
          }

          else if (result.includes("previous")) {
            const speechText = new SpeechSynthesisUtterance("Okay, taking you to Previous page.");
            window.speechSynthesis.speak(speechText);
            TXTresponse.innerHTML = "Okay, taking you to Previous page.";
            setTimeout(function () {
              window.history.go(-1);
            }, 200);
            found = true;
          }

          else if (result.includes("hi")) {
            respond("Hello! How can I assist you today?");
            found = true;
          }

          else if (result.includes("hello")) {
            respond("Hi! How can I assist you today?");
            found = true;
          }

          else if (result.includes("hey")) {
            respond("Hi! How can I assist you today?");
            found = true;
          }

          else if (result.includes("good morning")) {
            respond("Good Morning! How can I assist you today?");
            found = true;
          }

          else if (result.includes("good afternoon")) {
            respond("Good Afternnon! How can I assist you today?");
            found = true;
          }


          else if (result.includes("good night")) {
            respond("Good Night! Have a good sleep.");
            found = true;
          }

          else if (result.includes("good evening")) {
            respond("Good Evening! How can I assist you today?");
            found = true;
          }

          else if (result.includes("what is your name")) {
            respond("I am Voice Finance Assistant");
            found = true;
          }

          else if (result.includes("who are you")) {
            respond("I am Voice Finance Assistant");
            found = true;
          }

          else if (result.includes("create budget name")) {
            found = true;
            createBudget(result);
          }

          else if (result.includes("create budget")) {
            found = true;
            createBudget(result);
          }

          else if (result.includes("make budget")) {
            found = true;
            createBudget(result);
          }

          else if (result.includes("new budget")) {
            found = true;
            createBudget(result);
          }

          else if (result.includes("create a budget name")) {
            found = true;
            createBudget(result);
          }

          else if (result.includes("create a budget")) {
            found = true;
            createBudget(result);
          }

          else if (result.includes("make a budget")) {
            found = true;
            createBudget(result);
          }

          else if (result.includes("new budget")) {
            found = true;
            createBudget(result);
          }

          else if (result.includes("show budget")) {
            openBudget(result);
            found = true;
          }

          else if (result.includes("open budget")) {
            openBudget(result);
            found = true;
          }

          else if (result.includes("add amount")) {
            found = true;
            addAmount(result);
          }

          else if (result.includes("add")) {
            found = true;
            addAmount(result);
          }

          else if (result.includes("deduct")) {
            found = true;
            deductAmount(result);
          }

          else if (result.includes("minus")) {
            found = true;
            deductAmount(result);
          }

          else if (result.includes("make payment")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("make a payment")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("make payments")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("make my payments")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("do payments")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("do my payments")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("do a payment")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("do my payment")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("pay")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("send")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("transfer")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }


          else if (result.includes("withdraw")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to withdraw money from your bank account. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("take money")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to take money from your bank account. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("take my money")) {
            respond("As an Finance AI Model and due to Security Policies, I am not able to take money from your bank account. Hope You'd Understand");
            found = true;
          }


          else if (result.includes("best investment")) {
            respond("It depends on many factors but generally Systematic Investment Plan or Mutual Funds is better than most other investment opetions as it is less risky.");
            found = true;
          }

          else if (result.includes("advice about investing")) {
            respond(tips());
            found = true;
          }

          else if (result.includes("advice about investment")) {
            respond(tips());
            found = true;
          }

          else if (result.includes("investment advice")) {
            respond(tips());
            found = true;
          }

          else if (result.includes("investing advice")) {
            respond(tips());
            found = true;
          }

          else if (result.includes("investment tips")) {
            respond(tips());
            found = true;
          }

          else if (result.includes("advice for investment")) {
            respond(tips());
            found = true;
          }

          else if (result.includes("advice for investing")) {
            respond(tips());
            found = true;
          }

          else if (result.includes("tips for investment")) {
            respond(tips());
            found = true;
          }

          else if (result.includes("tips for investing")) {
            respond(tips());
            found = true;
          }

          else if (result.includes("advice to invest")) {
            respond(tips());
            found = true;
          }

          else if (result.includes("tips to invest")) {
            respond(tips());
            found = true;
          }

          else if (result.includes("delete budget")) {
            deleteBudget(result);
            found = true;
          }

          else if (result.includes("unlink")) {
            unlink(result);
            found = true;
          }

          else if (result.includes("set")) {
            setAmount(result);
            found = true;
          }

          else if (result.includes("update")) {
            setAmount(result);
            found = true;
          }

          else if (result.includes("balance of budget")) {
            getBalance(result);
            found = true;
          }

          else if (result.includes("new goal")) {
            createGoal(result);
            found = true;
          }

          else if (result.includes("create goal")) {
            createGoal(result);
            found = true;
          }

          else if (result.includes("create a goal")) {
            createGoal(result);
            found = true;
          }

          else if (result.includes("create a new goal")) {
            createGoal(result);
            found = true;
          }

          else if (result.includes("delete goal")) {
            deleteGoal(result);
            found = true;
          }

          else if (result.includes("saved")) {
            addGoal(result);
            found = true;
          }

          else if (result.includes("balance")) {
            checkBalance();
            found = true;
          }

        }
      }

      if (found == false) {
        respond("Sorry, I didn't Understand.");
      }
    }
  </script>
</body>

</html>