<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Artificial Intelligence </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aistyle.css') }}">

</head>

<body>
  <center>
    <h1 style="color:white"> AI </h1>
    <span style="color:skyblue"> Click the Button to Talk with AI </span>
  </center>
  <div id="startButton" class="imageWrapper">
    <img src="https://shu-vro.github.io/Artificial-Intelligence//resources/img/bg.jpeg" alt="AI">
  </div>
  <center>
    <p id="result" style="color:darkblue"></p>
  </center>

  <script>
    var recognition = new webkitSpeechRecognition() || new SpeechRecognition();
    recognition.continuous = true;
    recognition.lang = 'en-US';
    var BTNstart = document.getElementById('startButton');
    var TXTresult = document.getElementById('result');
    var result = ""
    var flag = 0;

    recognition.onresult = function (event) {
      recognition.stop();
      result = event.results[0][0].transcript;
      result = result.toLowerCase();
      TXTresult.innerHTML = result;
      wordRecognition();
    };

    BTNstart.addEventListener('click', function () {
      if (flag == 0){
        TXTresult.innerHTML = "Listenning...";
        recognition.start();
        flag = 1;
      }
      else{
        TXTresult.innerHTML = "";
        recognition.stop();
        flag = 0;
      }
    });

    function wordRecognition() {
      console.log(result);
      console.log("word recognition");
      var words = ["home", "features", "login", "register"];
      for (word in words) {
        if (result.includes(words[word])) {
          var page = words[word];
          document.location.href = page;
          // console.log("in");
          // console.log(page);
          // console.log("Word =" + word);
          // console.log("Page");
        }
        if (result.includes("back")) {
          window.history.go(-1);
        }
      }
    }   
  </script>
</body>

</html>