<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Artificial Intelligence </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aistyle.css') }}">

</head>

<body>
  <h1 style="color:white; text-align: center;"> AI </h1>
  <span style="color:skyblue; text-align: center;"> Click the Button to Talk with AI </span>
  <div id="startButton" class="imageWrapper">
    <img id="btn" src="{{ url_for('static', filename='images/aiBtn.png') }}" alt="AI">
  </div>
  <center>
    <p id="result" style="color:darkblue"></p>
    <p id="response" style="color:darkblue; text-align: right;"></p>
  </center>

  <script>
    var recognition = new webkitSpeechRecognition() || new SpeechRecognition();
    recognition.continuous = true;
    recognition.lang = 'en-US';
    var BTNstart = document.getElementById('startButton');
    var btn = document.getElementById('btn');
    var TXTresult = document.getElementById('result');
    var TXTresponse = document.getElementById('response');
    var result = "";
    var flag = 0;

    recognition.onresult = function (event) {
      recognition.stop();
      result = event.results[0][0].transcript;
      result = result.toLowerCase();
      TXTresult.innerHTML = result;
      btn.className = "fade-out";
      btn.src = "{{ url_for('static', filename='images/aiBtn.png') }}";
      interpret();
    };

    BTNstart.addEventListener('click', function () {
      if (flag == 0) {
        btn.className = "fade-in";
        btn.src = "{{ url_for('static', filename='images/ai.jpg') }}";
        TXTresult.innerHTML = "Listenning...";
        TXTresponse.innerHTML = "";
        recognition.start();
        flag = 1;
      }

      else {
        btn.className = "fade-out";
        btn.src = "{{ url_for('static', filename='images/aiBtn.png') }}";
        TXTresult.innerHTML = "";
        recognition.stop();
        TXTresponse.innerHTML = "";
        flag = 0;
      }
    });

    function respond(msg) {
      const speechText = new SpeechSynthesisUtterance(msg);
      window.speechSynthesis.speak(speechText);
      TXTresponse.innerHTML = msg;
    }

    function getName(text) {
      const words = text.split(' ');
      const nameIndex = words.findIndex(word => word.toLowerCase() === 'name');
      if (nameIndex !== -1 && nameIndex < words.length - 1) {
        return words[nameIndex + 1];
      } else {
        return "";
      }
    }

    function getAmount(text) {
      const regex = /\d+(\.\d+)?/;

      const match = text.match(regex);

      if (match) {
        return parseFloat(match[0]);
      } else {
        return 0;
      }
    }

    function getBudgetName(text) {
      const words = text.split(' ');

      const budgetIndex = words.findIndex(word => word.toLowerCase() === 'budget');

      if (budgetIndex !== -1) {
        if (budgetIndex < words.length - 1) {
          return words[budgetIndex + 1];
        } else if (budgetIndex > 0) {
          return words[budgetIndex - 1];
        }
      }
      return "";
    }

    function createBudget(result) {
      console.log("in create");
      var name = getName(result);
      if (name == "") {
        name = getBudgetName(result);
      }

      let amount = getAmount(result);
      console.log("name = " + name + " amount = " + amount);

      if (amount != 0) {
        const data = { name: name, amount: amount };
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        };

        fetch('createBudget', options)
          .then(response => {
            if (!response.ok) {
              throw new Error('Failed to create new budget');
            } else {
              alert("Budget created Successfully.");
              window.location.href = 'budgets';
              return response.json();
            }
          })
          .then(data => {
            console.log('Created budget successfully:', data);
          })
          .catch(error => {
            console.error('Error:', error);
          });

        var msg = "Creating Budget named " + name + " with Amount " + amount + " ...";
        respond(msg);
        found = true;
      }

      else {
        const data = { name: name };
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        };

        fetch('create', options)
          .then(response => {
            if (!response.ok) {
              throw new Error('Failed to create budget.');
            } else {
              alert("Budget created Successfully.");
              window.location.href = 'budgets';
              return response.json();
            }
          })
          .then(data => {
            console.log('Created budget successfully:', data);
          })
          .catch(error => {
            console.error('Error:', error);
          });

        var msg = "Creating Budget named " + name + " with Amount " + amount + " ...";
        respond(msg);
        found = true;
      }
    }

    function addAmount() {
      var name = getName(result);
      if (name == "") {
        name = getBudgetName(result);
      }
      if (name == "") {
        respond("Can't find the name of Budget. Could you clarify your command?");
      }
      else {
        let amount = getAmount(result);
        if (amount != 0) {

          const data = { name: name, amount: amount };
          const options = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          };

          fetch('addAmount', options)
            .then(response => {
              if (!response.ok) {
                throw new Error('Failed to add amount to the budget');
              } else {
                alert("Amount added to Budget Successfully.");
                window.location.href = 'budgets';
                return response.json();
              }
            })
            .then(data => {
              console.log("Amount added to Budget Successfully.", data);
            })
            .catch(error => {
              console.error('Error:', error);
            });

          var msg = "Adding " + amount + " rs to the budget named " + name + "...";
          respond(msg);
        }
        else {
          respond("I Can't find the amount. Could you clarify your command?");
        }
      }
    }

    function deductAmount() {
      var name = getName(result);
      if (name == "") {
        name = getBudgetName(result);
      }
      if (name == "") {
        respond("Can't find the name of Budget. Could you clarify your command?");
      }
      else {
        let amount = getAmount(result);
        if (amount != 0) {

          const data = { name: name, amount: amount };
          const options = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          };

          fetch('deductAmount', options)
            .then(response => {
              if (!response.ok) {
                throw new Error('Failed to add amount to the budget');
              } else {
                alert("Amount deducted from Budget Successfully.");
                window.location.href = 'budgets';
                return response.json();
              }
            })
            .then(data => {
              console.log("Amount deduected from Budget Successfully.", data);
            })
            .catch(error => {
              console.error('Error:', error);
            });

          var msg = "Deducted " + amount + " rs from the budget named " + name + "...";
          respond(msg);
        }
        else {
          respond("I Can't find the amount. Could you clarify your command?");
        }
      }
    }


    function interpret() {
      var words = ["home", "features", "login", "register", "dashboard", "budgets", "goals", "investments"];
      var found = false;

      for (word in words) {
        if (!found) {
          if (result.includes(words[word])) {
            var page = words[word];
            const speechText = new SpeechSynthesisUtterance("Okay, taking you to " + page + " page.");
            TXTresponse.innerHTML = "Okay, taking you to " + page + " page.";
            window.speechSynthesis.speak(speechText);
            setTimeout(function () {
              document.location.href = page;
            }, 2000);
            found = true;
          }

          else if (result.includes("back")) { // 6
            const speechText = new SpeechSynthesisUtterance("Okay, taking you to " + page + " page.");
            window.speechSynthesis.speak(speechText);
            TXTresponse.innerHTML = "Okay, taking you to Previous page.";
            setTimeout(function () {
              window.history.go(-1);
            }, 200);
            found = true;
          }

          else if (result.includes("previous")) { // 7
            const speechText = new SpeechSynthesisUtterance("Okay, taking you to Previous page.");
            window.speechSynthesis.speak(speechText);
            TXTresponse.innerHTML = "Okay, taking you to Previous page.";
            setTimeout(function () {
              window.history.go(-1);
            }, 200);
            found = true;
          }

          else if (result.includes("hi")) { // 8
            respond("Hello! How can I assist you today?");
            found = true;
          }

          else if (result.includes("hello")) { // 9            
            respond("Hi! How can I assist you today?");
            found = true;
          }

          else if (result.includes("hey")) { // 9            
            respond("Hi! How can I assist you today?");
            found = true;
          }

          else if (result.includes("good morning")) { // 9            
            respond("Good Morning! How can I assist you today?");
            found = true;
          }

          else if (result.includes("good afternoon")) { // 9            
            respond("Good Afternnon! How can I assist you today?");
            found = true;
          }


          else if (result.includes("good night")) { // 9            
            respond("Good Night! Have a good sleep.");
            found = true;
          }

          else if (result.includes("good evening")) { // 9            
            respond("Good Evening! How can I assist you today?");
            found = true;
          }

          else if (result.includes("what is your name")) { // 10
            respond("I am Voice Finance Assistant");
            found = true;
          }

          else if (result.includes("who are you")) { // 12
            respond("I am Voice Finance Assistant");
            found = true;
          }

          else if (result.includes("create budget name")) {
            found = true;
            createBudget(result);
          }

          else if (result.includes("create budget")) { // 11
            found = true;
            createBudget(result);
          }

          else if (result.includes("make budget")) { // 11
            found = true;
            createBudget(result);
          }


          else if (result.includes("new budget")) { // 11
            found = true;
            createBudget(result);
          }

          else if (result.includes("create a budget name")) {
            found = true;
            createBudget(result);
          }

          else if (result.includes("create a budget")) { // 11
            found = true;
            createBudget(result);
          }

          else if (result.includes("make a budget")) { // 11
            found = true;
            createBudget(result);
          }

          else if (result.includes("new budget")) { // 11
            found = true;
            createBudget(result);
          }


          else if (result.includes("add amount")) { // 11
            found = true;
            addAmount(result);
          }


          else if (result.includes("add")) { // 11
            found = true;
            addAmount(result);
          }

          else if (result.includes("deduct")) { // 11
            found = true;
            deductAmount(result);
          }

          else if (result.includes("minus")) { // 11
            found = true;
            deductAmount(result);
          }
          
          else if (result.includes("make payment")) { // 13
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("make a payment")) { // 13
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("make payments")) { // 14
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("make my payments")) { // 15
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("do payments")) { // 16
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("do my payments")) { // 17
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("do a payment")) { // 18
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("do my payment")) { // 18
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("pay")) { // 19
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("send")) { // 20
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("transfer")) { // 21
            respond("As an Finance AI Model and due to Security Policies, I am not able to make your payments. Hope You'd Understand");
            found = true;
          }


          else if (result.includes("withdraw")) { // 21
            respond("As an Finance AI Model and due to Security Policies, I am not able to withdraw money from your bank account. Hope You'd Understand");
            found = true;
          }

          else if (result.includes("take money")) { // 21
            respond("As an Finance AI Model and due to Security Policies, I am not able to take money from your bank account. Hope You'd Understand");
            found = true;
          }
        }
      }

      if (found == false) {
        respond("Sorry, I didn't Undertsand.");
      }
    }
  </script>
</body>

</html>