<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgets</title>
    <link rel="stylesheet" href="static/css/budget.css"> 
</head>
<body>

<div class="budgetContainer">
    <header>
        <h1>List of Budgets</h1>
    </header>

    <div class="budget-list">
        <ul>
            {% for budget in budgets %}
            <li>{{ budget.name }} - {{ budget.amount }}</li> 
            {% endfor %}
        </ul>
    </div>
</div>

</body>
</html>
