<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Budgets </title>
    <style>
        body {
            text-transform: capitalize;
        }
    </style>
</head>

<body>
    <div>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/goal.css') }}">

        <div class="home-container">
            {% include 'navbar.html' %}
            <br> <br> <br> <br>
            <h1 style="color: cyan;text-align: center;"> Budgets </h1>
            <a href="newBudget" class="add-goal-button"> Create new Budget </a>
            <div class="container">
                <div class="grid">
                    {% for budget in budgets %}
                    <div class="goal-card">
                        <h2> {{ budget[1] }} </h2>
                        <p> Total: {{ budget[2] }} </p>
                        <p> Remaining: {{ budget[3] }} </p>
                        <a href="budget?name={{ budget[1] }}" class="edit-button">Edit</a>
                        <a href="budgetDelete?name={{ budget[1] }}" class="delete-button">Delete</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(window).bind("pageshow", function (event) {
            if (event.originalEvent.persisted) {
                console.log("Back!");
                location.reload();
            }
        });
    </script>
</body>

</html>