<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Recognition</title>
</head>

<body>
    <center>
    <h1>Speech Recognition</h1>
    <button id="startButton">Start Recognition</button>
    <button id="stopButton">Stop Recognition</button>
    <h3>Text : <div id="result"></div></h3>
    </center>
    <script>
       var recognition = new webkitSpeechRecognition()
        recognition.continuous = true;
        recognition.lang = 'en-US';
        var BTNstart = document.getElementById('startButton')
        var BTNstop = document.getElementById('stopButton')
        BTNstop.style.display = 'none';
        var result = ""

        recognition.onresult = function (event) {
            recognition.stop();
            BTNstop.style.display = 'none';
            BTNstart.style.display = 'block';
            result = event.results[0][0].transcript;
            result = result.toLowerCase();
            document.getElementById('result').innerHTML = result;
            navigator.clipboard.writeText(result)
            wordRecognition();
        };

        BTNstart.addEventListener('click', function () {
            recognition.start();
            BTNstop.style.display = 'block';
            BTNstart.style.display = 'none';
        });

        BTNstop.addEventListener('click', function () {
            recognition.stop();
            BTNstart.style.display = 'block';
            BTNstop.style.display = 'none';
        });

        function wordRecognition() {
            console.log(result);
            console.log("word recognition");
            var words = ["home", "welcome"];
            for (word in words) {
                if (result.includes(words[word])) {
                    var page = words[word];
                    document.location.href = page;
                    // console.log("in");
                    // console.log(page);
                    // console.log("Word =" + word);
                    // console.log("Page");
                }
                if(result.includes("back")){
                    window.history.go(-1);
                }
            }
        }   
    </script>
</body>
</html>